@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
body{
  background-image: url('./tic-tac-toe-background.jpg');

}

.msgheading{
   height: 10vh;
   background-color: $message_background;
   margin-bottom:2rem;
   font-size: 4vh;
   text-align: justify;
}
#message {
  text-align: center;
  font-size: 2rem
}

.container{
  //set the conatiner take the view
  height:80vh;
}

.board{
  //setting the margin to auto will make the left and right m
  //are same
  margin-top:4rem;
  margin:auto;
  //create buffer around
  max-height:calc(80vh - 75px);
  max-width:calc(90vh - 55px);

  //set the background to never repeat
  background-repeat: no-repeat;
 //
  background-position:center;
  background-size:cover;
  padding-bottom: 1rem;
}
.box{
  //add a solid black line between right of box
  border-right: 1px solid $box_border;
  border-bottom: 1px solid $box_border;

  &:nth-child(3n){
    border-right:0;
  }
  &:nth-last-child(-1n + 3){
    border-bottom:0;
   }

   min-height:calc(100%/3);

  //center the text in tic tac toe board

   display:flex;
  //
  justify-content:center;
//set the contents position along the cross axis
    align-items:center;

    background-color: white;

    color:white;
    font-size:13vh;

    //to take the text more 3d, we add a ashandow 2 px below and to t
    //the right, that is black which is 25% transparent
    text-shadow:4px 2px rgba(0, 0, 0, .25);

    &:hover{
     background-color:lightskyblue;
    }

    user-select:none;

}
.lblgamesplayed{
  text-align: center;
  font-size: 1.3em;
}

.label{
  margin-right: 2rem;
  }
// .startButton{
//   display:flex;
//   align-items: left;
//   padding:2em,2em
//   //visibility: hidden;
//   }
.disabled{
    visibility: hidden;
  }
.enabled{
   opacity:1;
   visibility: visible;
  }
